@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-blue-600 underline visited:text-blue-700 hover:text-blue-500 focus:text-blue-500;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
